/* Estilos gerais */
body {
  background-color: #002c43ff;
}

.logo-container {
  text-align: left;
  margin-left: 30px;
  margin-bottom: 0px;
}

.logo {
  width: 80px;
  height: 80px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.image-button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  transition: padding-left 0.8s ease; /* Transição mais lenta */
}

.image-button:hover {
  padding-left: 28px;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
}

/* Estilos para a tela de login */
.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 100%;
  max-width: 550px;
  padding: 30px;
  margin-top: -10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 10px solid rgba(255, 255, 255, 1);
  border-radius: 54px;
  text-align: center;
}

.form {
  margin-top: 20px;
}

.label {
  color: #ffffff;
  font-size: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
  transition: padding-top 0.8s ease; /* Transição mais lenta */
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #002132;
  color: #ffffff;
  font-size: 16px;
}

.input-container input:focus {
  outline: none;
  background-color: #02608f;
  box-shadow: #0056b3;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #ffffff;
  font-size: 14px;
  opacity: 7;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: 10px;
  font-size: 15px;
  opacity: 0.8;
}

.input-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1px;
}

.input-container input[type="password"] {
  letter-spacing: 4px;
}

.input-container:hover {
  padding-top: 28px;
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.login-button {
  background-color: #002c43ff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #00506dff;
}

.font-logo {
  color: #007bff;
  font-size: 20px;
}
